# === Fichiers et répertoires générés par la compilation ===
build/
output/
dist/
*.o
*.obj
*.so
*.so.*
*.dll
*.dylib
*.a
*.lib
*.exe
*.out
*.app
*.apk
*.wasm
*.html
*.js

# === Fichiers générés par Qt ===
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.qrc
*.prl
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
*.autosave
*.qm
*.ts
*.qmake.stash
*.qmake.cache
Makefile*
CMakeLists.txt.user*
compile_commands.json
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
target_wrapper.*

# === Fichiers temporaires et de sauvegarde ===
*.log
*.bak
*.tmp
*.swp
*.swo
*.~*

# === Fichiers spécifiques aux IDE ===
.idea/
.vscode/
.vs/
*.user
*.user.*
*.creator.user*
*.creator.user.*
*.pro.user
*.pro.user.*

# === Fichiers spécifiques aux systèmes d'exploitation ===
.DS_Store
Thumbs.db
desktop.ini

# === Répertoires de tests et de sauvegarde ===
debug/
release/
saves/
