[Desktop Entry]
Version=1.0
Type=Application
Name=TestApp
Comment=Application Qt/C++ avec interface QML
Exec=/usr/local/bin/TestApp
Icon=testapp
Terminal=false
Categories=Utility;Qt;Development;
StartupNotify=true
