[Desktop Entry]
Name=TestApp
Comment=Application Qt/QML multiplateforme
Exec=/usr/local/bin/TestApp
Icon=testapp
Terminal=false
Type=Application
Categories=Utility;Qt;Development;
